#habilitado:checked ~ .lbl-switch {
  background-color: #198754;
}

#habilitado:checked ~ .lbl-switch:after {
  left: 28px;
}

#habilitado {
  display: none;
}

.form-group2 {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-bottom: 20px;
}