.header-nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 0px 10%;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.header-nav-bg {
  background-color: #000000e6;
  transition: 0.25s;
  height: 80px;
}

.header-a-logo {
  display: flex;
  justify-content: flex-start;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header-logo {
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 120px;
  margin-top: 18px;
  /* -webkit-filter: drop-shadow(#000000ab 0 0 10px);
  filter: drop-shadow(#000000ab 0 0 10px); */
}

.header-logo-bg {
  width: 80px;
  margin-top: 5px;
  filter: brightness(0) invert(1);
}

.header-menu {
  display: flex;
  /* flex-direction: row;
    width: 50%; */
  /* justify-content: flex-end;
    margin-bottom: 0; */

  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* background-color: #000; */
  position: absolute;
  top: 0;
  right: -100%;
  z-index: -3;
  transition: 0.5s;
}

.header-menu2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -100%;
  z-index: -3;
  transition: 0.5s;
}

.header-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fffffff2;
  position: absolute;
  top: 0;
  right: -100%;
  z-index: -3;
  transition: 0.5s;
  margin: 0;
  padding: 0;
  position: initial;
}

.header-menu2-container {
  display: grid;
  grid-auto-rows: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 80px 10%;
  background-color: #fffffff2;
  /* position: absolute; */
  /* top: 0; */
  /* right: -100%; */
  z-index: -3;
  transition: 0.5s;
  margin: 0;
  /* padding: 0; */
  position: initial;
  overflow-y: auto;
}

.header-menu li {
  list-style: none;
  display: inline-block;
}

.header-menu2 li {
  list-style: none;
  display: inline-block;
}

.header-menu-btn {
  display: flex;
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  margin-left: 25px;
  transition: color 0.3s ease;
  text-decoration: none;
  white-space: nowrap;
}

.header-menu-btn2 {
  display: flex;
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  margin-left: 25px;
  transition: color 0.3s ease;
  text-decoration: none;
  white-space: nowrap;
}

.header-menu-btn-bg {
  fill: #ffffff;
  color: #ffffff;
}

.header-menu2-btn-bg {
  fill: #ffffff;
  color: #ffffff;
}

.header-menu-btn-bg:hover {
  color: #929292 !important;
}

.header-menu2-btn-bg:hover {
  color: #929292 !important;
}

.header-menu-btn:hover {
  color: #929292;
}

.header-menu2-btn:hover {
  color: #929292;
}

.header-burger-menu-container {
  display: flex;
}

.header-burger-menu {
  fill: #000000;
  display: block;
  z-index: 999;
  width: 35px;
  cursor: pointer;
}

/* .header-burger-menu:hover {
    fill: #929292;
} */

.header-burger-menu:hover,
.header-burger-menu:hover ~ .cart-item-count {
  fill: #929292;
  color: #929292;
}

.header-burger-menu-bg {
  fill: #fff;
  width: 30px;
}

.header-burger-menu-bg:hover,
.header-burger-menu-bg:hover ~ .cart-item-count-bg {
  fill: #929292;
  color: #929292;
}

/* .header-burger-menu-bg:hover {
    fill: #929292;
} */

.header-close-menu {
  fill: #000000;
  display: block;
  z-index: 999;
  width: 30px;
  cursor: pointer;
}

.header-close-menu:hover {
  fill: #929292;
}

.header-close-menu-bg {
  fill: #fff;
  width: 30px;
}

.header-close-menu-bg:hover {
  fill: #929292;
}

.dropdown-item {
  margin: 0;
  width: 170px;
  cursor: pointer;
}

.sale {
  color: #dc3545;
  font-weight: 500;
}

.dropdown-item:hover {
  color: #929292;
  background-color: transparent;
}

.no-pointer {
  cursor: default;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu .submenu {
  display: none;
  position: absolute;
  left: 100%;
  transform: translateY(-37px);
  max-height: 300px;
  overflow-y: scroll;
}

.dropdown-menu .submenu2 {
  display: none;
  position: absolute;
  left: 100%;
  transform: translateY(-37px);
  max-height: 300px;
  overflow-y: scroll;
}

.dropdown-menu > li:hover > .submenu2 {
  display: flex;
  flex-direction: column;
}

.dropdown-menu .submenu3 {
  display: none;
  position: absolute;
  left: 100%;
  transform: translateY(-37px);
  max-height: 300px;
  overflow-y: scroll;
}

.dropdown-menu > li:hover > .submenu3 {
  display: flex;
  flex-direction: column;
}

.dropdown-menu > li:hover > .submenu {
  display: flex;
  flex-direction: column;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 28px;
}

.login-logo {
  width: 25px;
  height: 25px;
  color: #000000;
}

.header-menu-container-bg {
  background-color: #000000f2;
  margin: 0;
  padding: 0;
}

.header-menu2-container-bg {
  background-color: #000000f2;
  /* margin: 0;
    padding: 0; */
}

.header-menu.active {
  right: 0;
  padding: 0;
}

.header-menu2.active {
  right: 0;
  padding: 0;
}

.header-menu2.active .btn-whatsapp-shake {
  display: none;
}

.header-menu .navbar-li {
  padding: 1rem 0;
}

.header-menu2 .navbar-li {
  padding: 1rem 0;
}

.header-menu-btn {
  font-size: 23px;
  margin-left: 0px;
}

.header-menu2-btn {
  font-size: 23px;
  margin-left: 0px;
}

.cart-item-count {
  cursor: pointer;
  position: absolute;
  transform: translate(20px, -25px);
  font-weight: 700;
  color: #000000;
}

.cart-item-count-bg {
  color: #ffffff;
}

/* .header-burger-menu:hover,
.header-burger-menu:hover ~ .cart-item-count {
  fill: #929292;
  color: #929292;
} */

.cart-item-count:hover {
  color: #929292;
}

.cart-item-count-bg:hover {
  color: #929292;
}

@media (max-width: 1050px) {
  .dropdown-menu .submenu2 {
    transform: translateY(-21px);
  }

  .dropdown-menu .submenu3 {
    transform: translateY(-20px);
  }

  .dropdown-menu {
    transform: translateY(7px);
  }

  .login-logo {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 650px) {
  .dropdown-menu {
    margin-top: 6px;
    transform: translateX(-115px);
  }

  .header-a-logo-bg {
    transform: translateX(-20px);
  }

  .dropdown-menu .submenu {
    transform: translateY(-43px);
  }

  .dropdown-menu .submenu2 {
    transform: translateY(-43px);
  }

  .dropdown-menu .submenu3 {
    transform: translateY(-43px);
  }
}
