.search-button {
  height: 47px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.search2-input {
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  height: 100%;
  outline: none;
  padding: 0 15px;
  width: 100%;
}

.search-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 100%;
}

.link-reset {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button2:hover .link-reset {
  color: #009ee3;
}

.cancel-button {
  border: 2px solid #6c757d;
  background-color: #6c757d;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  transition: all 0.3s ease;
  width: 100%;
}

.cancel-button:hover {
  background-color: #fff;
  color: #6c757d;
}

.email-oculto {
  margin-bottom: 10px;
}

.resetpassword-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 0 10%;
  max-width: 700px;
}

.p-resend {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-top: 0px;
  margin-bottom: 15px;
}

.counter-text-disabled {
  cursor: default;
  color: #6c757d;
  margin-top: 0px;
  margin-bottom: 15px;
}

.code-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.no-vendedor {
  color: red;
  font-weight: 600;
}

@media (max-width: 930px) {
  .resetpassword-content {
    flex-direction: column;
  }
}
